.App__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.App__title {
  font-family: 'Pokemon';
  text-align: center;
  font-size: 46px;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  -webkit-text-fill-color: #fcdb00;
  -webkit-text-stroke: 2px rgb(5, 41, 158);
}

.cardList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
